.loader {
    /*свг и/или анимация*/
    width: 108px;
    height: 108px;
    background-image: url('./Loading.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}