.input:focus {
    outline: 1px solid #d1d1d1;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    padding: 5px 24px;
}

.inputWrapper {
    position: relative;
}

.superInput {
}

.errorInput {

}

.errorInput:focus {
    outline: 1px solid #cc1439;
}

.error {
    position: absolute;
    top: -24px;
    left: 0;
    color: #cc1439;
}
